<div class="container-new">
	<h1>Artículos</h1>
	<div class="row">
		<%= render @articles %>
	</div>	
</div>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>