<header>
	<nav class="be-black white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md medium">
				Mi Blog
			</li>
			<li class="col-md small">
			<%= link_to 'INICIO', root_path %>
			</li>
			<li class="col-md small">
			DISEÑO
			</li>
			<li class="col-md small">
			PROGRAMACIÓN
			</li>
			<li class="col-md small">
			TECNOLOGÍA
			</li>
			<% if user_signed_in? %>
				<li class="col-md small">
					<%=link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
				</li>
			<% else %>
				<li class="col-md small">
					<%=link_to "Iniciar sesión", new_user_session_path %>
				</li>
				<li class="col-md small">
					<%=link_to "Registrate", new_user_registration_path %>
				</li>
			<% end %>
		</ul>
	</nav>
</header>