<header>
	<nav class="be-black white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md medium">
				Mi Blog
			</li>
			<li class="col-md small">
			<%= link_to 'INICIO', root_path %>
			</li>
			<li class="col-md small">
			DISEÑO
			</li>
			<li class="col-md small">
			PROGRAMACIÓN
			</li>
			<li class="col-md small">
			TECNOLOGÍA
			</li>
		</ul>
	</nav>
</header>